<?xml version="1.0" encoding="UTF-8"?>
<!--
  SPDX-FileCopyrightText: 2026 Nicotine+ Contributors
  SPDX-License-Identifier: GPL-3.0-or-later
-->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>slsk URL</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>slsk</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>
