## DEP-8 continuous integration tests.

# Verify that package is installed...
Test-Command: nicotine --version | grep Nicotine+

# Perform integration and unit tests...
Test-Command: pytest-3
Restrictions: isolation-container

# Validate desktop file...
Test-Command: desktop-file-validate data/*.desktop
Depends: desktop-file-utils

# Validate AppStream file...
Test-Command: appstream-util validate-relax --nonet data/*.appdata.xml
Depends: appstream-glib